.jumbotron {
  background-color: rgb(41, 41, 41);
  padding-top: 55px;
}

.rounded-circle {
  border: 3px solid #ffffff;
}

.navbar {
  padding: 5px;
}

.bi {
  color: #e0e0e0;
  padding: 3px;
}
.bi:hover {
  opacity: 0.7;
}

#about {
  text-align: justify;
  text-indent: 25px;
}
.navbar-nav {
  padding-left: 20px;
}
.navbar-brand {
  font-family: "KaushanScript";
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}
.navbar-brand:hover {
  color: #b4b4b4;
  transition: 1s;
}
.navbar-nav a:hover {
  background-color: #ff3c2e;
}
button.navbar-toggler:hover {
  color: #322fff;
}
@font-face {
  font-family: "KaushanScript";
  src: url("../KaushanScript-Regular.otf") format(opentype);
}
ul li .nav {
  display: inline;
}
.display-4 {
  font-size: 40px;
  color: #ff1100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.lead {
  font-family: sans-serif;
  font-size: 30px;
}
.lead2 {
  font-size: 18px;
  color: #ff1100;
  font-family: Helvetica;
}
#project {
  background-color: #858585;
}
#css_margin {
  background: #f3f3f3;
}
#footer {
  background-color: #dddddd;
}
.footer a {
  text-decoration: none;
  color: #333333;
  transition: all 0.5s ease-in-out;
}
.footer ul li a:hover {
  color: #2b28ff;
  text-decoration: underline;
  padding-left: 8px;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}
ul li {
  list-style: none;
  font-size: 13px;
}
.text-position {
  padding-left: 30px;
}
.bi-c-circle-fill {
  color: #191919;
}
.bi-laptop {
  color: #191919;
  margin-left: -3px;
}
